<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net452" />
  <package id="NetOffice.Word" version="1.7.3.0" targetFramework="net452" />
  <package id="Spire.Doc" version="5.8.13" targetFramework="net452" />
</packages>